{% extends "layout.html" %}
{% load static %} 

{% block content %}
<section id="about-us">
    <div class="container">
      <h2>Sobre nosotros</h2>
      <p>¡Bienvenidos a Barber Shop!</p>
      <p>Somos Agustín Perez Pesce, Mario Cristian Sánchez, Braian Troncoso, Santiago Mendoza, Franco Sebastián Genre, Sebastián Galván y  Mariano Farias, estudiantes de la Universidad Tecnológica Nacional, Facultad Regional San Rafael. Como parte de nuestro trabajo final de semestre en las materias de Programación y Laboratorio 3, hemos desarrollado un emocionante proyecto: Barber Shop.</p>
      <p>Nuestro objetivo principal fue crear una aplicación de gestión para una barbería, brindando una plataforma fácil de usar tanto para los clientes como para el personal de la barbería. Para lograrlo, trabajamos con el framework Django y utilizamos HTML, CSS y JavaScript para el desarrollo del frontend.</p>
      <p>Algunas de las características clave de nuestra aplicación incluyen un sistema de registro de usuarios, que permite a los clientes y al personal de la barbería crear perfiles; una función de programación de citas en línea para facilitar la planificación; un sistema de gestión de perfiles de clientes y empleados; un registro y seguimiento detallado de los servicios realizados.</p>
      <p>La aplicación Barber Shop ofrece numerosas ventajas tanto para los clientes como para los empleados de la barbería. Los clientes pueden programar citas de manera rápida y sencilla, mientras que el personal de la barbería puede gestionar eficientemente sus horarios y tener un registro completo de los servicios realizados.</p>
      <p>Estamos orgullosos de nuestro trabajo en el proyecto Barber Shop. Aprendimos mucho durante su desarrollo, adquiriendo experiencia en el uso de Django y en el desarrollo de aplicaciones web completas. Nuestras habilidades en programación y diseño web se han fortalecido y estamos emocionados de compartir nuestro trabajo con ustedes.</p>
      <p>Agradecemos a nuestros profesores y compañeros por su apoyo durante todo el proceso. También queremos agradecer a la Universidad Tecnológica Nacional por brindarnos esta oportunidad de aprendizaje y crecimiento.</p>
      <p>¡Esperamos que disfruten usando Barber Shop tanto como nosotros disfrutamos creándolo!</p>
      <b>- Agustín Perez Pesce, Mario Cristian Sánchez, Braian Troncoso, Santiago Mendoza, Franco Sebastián Genre, Sebastián Galván y  Mariano Farias -</b>
    </div>
  </section>

  {% endblock %}
